.app {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quote {
  color:brown ;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}